NODE_ENV=development

# Fastify
PORT=5050
FASTIFY_ADDRESS=0.0.0.0

GROQ_API_KEY=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=